Repository ctc-oss/omega-edit, pull requests merged in 2022-07, with the labels that each got.

#280 Session viewport pause resume
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/SessionEvent.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: grpc, scala

#286 Scala steward
  .github/workflows/scala-steward.yml
Labels: scala, dependencies

#287 Update jnr-ffi to 2.2.12
  .github/release.sbt
  build.sbt
Labels: scala, dependencies

#288 Update sbt-git to 1.0.2
  project/plugins.sbt
  src/rpc/server/scala/project/plugins.sbt
Labels: scala, dependencies

#289 Update sbt-header to 5.6.5
  project/plugins.sbt
  src/rpc/server/scala/project/plugins.sbt
Labels: scala, dependencies

#291 Update sbt to 1.7.0
  project/build.properties
  src/rpc/server/scala/project/build.properties
Labels: scala, dependencies

#290 Update sbt-tpolecat to 0.1.22
  project/plugins.sbt
  src/rpc/server/scala/project/plugins.sbt
Labels: scala, dependencies

#300 2 additional session viewport events (create and destroy)
  src/include/omega_edit/fwd_defs.h
  src/lib/edit.cpp
  src/rpc/client/ts/tests/specs/client.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/cpp/server.cpp
  src/rpc/server/cpp/worker_queue/worker_queue.cpp
  src/rpc/server/cpp/worker_queue/worker_queue.hpp
  src/tests/integration/omega_test.cpp
Labels: enhancement

#302 version 0.9.9
  CMakeLists.txt
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/package.json
  src/rpc/client/ts/tests/specs/client.spec.ts
Labels: release

#318 add enumeratum dependency to release.sbt
  .github/release.sbt
Labels: scala, build

#319 v0.9.10
  CMakeLists.txt
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/package.json
  src/rpc/client/ts/tests/specs/client.spec.ts
Labels: release

#321 refresh CI
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/scala.yml
  .github/workflows/unit-tests.yml
  build.sh
  project/build.properties
Labels: CI

#322 add client wait for ready support
  .github/workflows/release.yml
  CMakeLists.txt
  build.sh
  src/rpc/CMakeLists.txt
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/settings.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/client.spec.ts
  src/rpc/server/cpp/server.cpp
  src/rpc/tests/server_test.cpp
Labels: grpc, client, javascript, C++

#277 Implement clearchanges getlastchange
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: help wanted, scala

#323 General Updates
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/SessionEvent.scala
  src/rpc/client/ts/.gitignore
  src/rpc/client/ts/src/change.d.ts
  src/rpc/client/ts/src/session.d.ts
  src/rpc/client/ts/src/settings.d.ts
  src/rpc/client/ts/src/viewport.d.ts
Labels: scala, javascript, packaging

#325 Await gRPC server termination.
  build.sh
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
Labels: server, scala

#324 add search and replace test to cient.spec.ts
  src/rpc/client/ts/src/viewport.d.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/client.spec.ts
Labels: testing, client, javascript

#326 Update scala server to not require data be set to run del
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
Labels: server, scala
