Repository ctc-oss/omega-edit, pull requests merged in 2022-06, with the labels that each got.

#273 Implement redo
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: scala

#276 pause and resume session changes
  CMakeLists.txt
  build.sh
  src/examples/peek.cpp
  src/examples/play.cpp
  src/examples/replace.cpp
  src/examples/replay.cpp
  src/examples/rotate.cpp
  src/examples/search.cpp
  src/examples/simple.cpp
  src/examples/simple_c.c
  src/examples/slice.cpp
  src/include/omega_edit.h
  src/include/omega_edit/edit.h
  src/include/omega_edit/fwd_defs.h
  src/include/omega_edit/search.h
  src/include/omega_edit/session.h
  src/include/omega_edit/stl_string_adaptor.hpp
  src/include/omega_edit/viewport.h
  src/lib/edit.cpp
  src/lib/encode.c
  src/lib/impl_/search_context_def.h
  src/lib/impl_/session_def.hpp
  src/lib/search.cpp
  src/lib/segment.cpp
  src/lib/session.cpp
  src/lib/stl_string_adapter.cpp
  src/lib/utility.c
  src/lib/viewport.cpp
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/tests/specs/client.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/cpp/server.cpp
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/tests/server_test.cpp
  src/tests/integration/omega_test.cpp
Labels: enhancement

#278 expose floating viewports in the RPC
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/client.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/cpp/server.cpp
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: grpc

#281 add valgrind
  .github/workflows/unit-tests.yml
  build.sh
Labels: code quality
