Repository ctc-oss/omega-edit, pull requests merged in 2022-08, with the labels that each got.

#332 editing errors in the TS client now throw instead of returning 0
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/tests/specs/client.spec.ts
Labels: code quality, client, javascript

#338 Update scalafmt-core to 3.5.9
  .git-blame-ignore-revs
  .scalafmt.conf
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
  src/rpc/server/scala/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: scala, dependencies

#344 publish with overwrite
  build.sbt
Labels: scala, build

#343 Don't negate changeID in Scala server undo
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/cpp/server.cpp
Labels: bug, scala

#346 add binary data search and replace TS client test
  src/rpc/client/ts/tests/specs/client.spec.ts
Labels: testing

#350 minor tidying
  .gitignore
  src/lib/filesystem.cpp
  src/lib/impl_/viewport_def.hpp
  src/tests/integration/omega_test.cpp
Labels: code quality

#347 Fix issue of pattern being a ByteString still instead of String
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/bindings/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/client/ts/package.json
  src/rpc/client/ts/tests/specs/client.spec.ts
  src/rpc/client/ts/tests/specs/common.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/encodeDecode.spec.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/rpc/client/ts/tests/specs/version.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
Labels: bug, scala

#354 Rename VIEWPORT_EVT_UPDATED to VIEWPORT_EVT_MODIFY
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/examples/rotate.cpp
  src/include/omega_edit/fwd_defs.h
  src/include/omega_edit/viewport.h
  src/lib/viewport.cpp
  src/rpc/protos/omega_edit.proto
  src/rpc/server/cpp/server.cpp
  src/tests/integration/omega_test.cpp
Labels: code quality

#355 Pass actual data size to Scala FFI.
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/bindings/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
Labels: grpc, server, scala

#353 Add floating viewport support to scala server
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/ViewportEvent.scala
  src/bindings/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
  src/bindings/scala/api/src/test/scala/com/ctc/omega_edit/support/ViewportSupport.scala
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
Labels: testing, scala

#356 Use byte array instead of String for viewport data.
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/bindings/scala/api/src/main/scala/com/ctc/omega_edit/api/Viewport.scala
  src/bindings/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
  src/bindings/scala/api/src/test/scala/com/ctc/omega_edit/support/ViewportSupport.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
Labels: server, scala

#358 add test and example code to parse version information
  src/include/omega_edit/version.h
  src/tests/integration/omega_test.cpp
Labels: documentation, testing, C

#365 workflow tweaks
  .github/workflows/release.yml
  .github/workflows/scala.yml
Labels: CI

#363 byte frequency profiler
  .github/workflows/unit-tests.yml
  CMakeLists.txt
  build.sh
  src/examples/CMakeLists.txt
  src/examples/cmake/conan.cmake
  src/examples/profile.c
  src/include/omega_edit/session.h
  src/lib/session.cpp
  src/rpc/CMakeLists.txt
  src/rpc/cmake/conan.cmake
  src/rpc/protos/omega_edit.proto
  src/rpc/server/cpp/server.cpp
  src/rpc/server/cpp/tests/server_test.cpp
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
  src/tests/integration/omega_test.cpp
Labels: enhancement

#368 add workflow_dispatch to dependabot workflow
  .github/dependabot.yml
  .github/workflows/unit-tests.yml
  CMakeLists.txt
  build.sh
Labels: enhancement, CI, dependencies
