Repository ctc-oss/omega-edit, pull requests merged in 2022-10, with the labels that each got.

#408 upgrade boost from 1.79.0 to 1.80.0
  CMakeLists.txt
Labels: C++, dependencies

#406 upgrade from java 8 to java 11
  .github/workflows/release.yml
  .github/workflows/tests.yml
  src/lib/viewport.cpp
  src/rpc/client/ts/runTests.ts
  src/rpc/client/ts/src/dataMan.ts
  src/rpc/client/ts/tests/specs/dataMan.spec.ts
  src/rpc/client/ts/tests/specs/encodeDecode.spec.ts
  src/rpc/client/ts/tests/specs/profiler.spec.ts
  src/rpc/client/ts/typedoc.json
  src/rpc/server/scala/build.sbt
Labels: CI, scala, build

#387 Add viewport callback checks
  src/rpc/client/ts/compile-proto.sh
  src/rpc/client/ts/package.json
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/settings.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/common.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/encodeDecode.spec.ts
  src/rpc/client/ts/tests/specs/events.spec.ts
  src/rpc/client/ts/tests/specs/profiler.spec.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/rpc/client/ts/tests/specs/version.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/client/ts/tsconfig.json
  src/rpc/protos/omega_edit.proto
  src/rpc/server/cpp/server.cpp
  src/rpc/server/cpp/tests/server_test.cpp
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/OmegaEdit.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/support/SessionSupport.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/support/ViewportSupport.scala
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: testing, grpc

#418 minor npm dependency updates
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/package.json
Labels: javascript, dependencies

#417 disable callback count checks due to asynchronous timing issues
  .github/workflows/tests.yml
  src/rpc/client/ts/tests/specs/common.ts
Labels: testing, CI, code quality, grpc, server, scala, javascript

#410 remove C++ RPC server (#409)
  .github/workflows/tests.yml
  CMakeLists.txt
  build.sh
  src/lib/viewport.cpp
  src/rpc/client/ts/package.json
  src/rpc/server/cpp/server.cpp
  src/rpc/server/cpp/tests/server_test.cpp
  src/rpc/server/cpp/worker_queue/worker_queue.cpp
  src/rpc/server/cpp/worker_queue/worker_queue.hpp
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Change.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/support/TestSupport.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: grpc, server, C++

#420 add test to create and destroy viewports
  src/rpc/client/ts/package.json
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Viewport.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: bindings, testing, grpc, scala

#422 added more create and destroy sessions testing
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: testing, server, scala

#421 v0.9.21
  CMakeLists.txt
  src/rpc/client/ts/package.json
  src/rpc/client/ts/tests/specs/version.spec.ts
Labels: release

#423 re-introduce Windows tests to CI
  .github/workflows/tests.yml
Labels: testing, CI, cross-platform

#426 fix printf format for int64_t in examples/profile.c
  src/examples/profile.c
Labels: C

#424 Combine the Scala and TypeScripts into single job
  .github/workflows/tests.yml
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: testing, CI

#430 Fix sync issue on session destroy
  .github/workflows/tests.yml
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
Labels: testing, grpc, server, scala

#434 reduce test verbosity conditionally
  src/rpc/client/ts/tests/specs/common.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
Labels: testing, grpc, client, javascript
