Repository ctc-oss/omega-edit, pull requests merged in 2023-04, with the labels that each got.

#605 add the other protoc generated file to the index
  packages/client/src/index.ts
  packages/client/src/server.ts
  server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
Labels: client, javascript

#613 Update scalafmt
  .github/workflows/scala-format.yml
  .scalafmt.conf
  server/scala/.scalafmt.conf
Labels: scala, dependencies

#607 enhance heartbeat
  packages/client/src/server.ts
  packages/client/tests/specs/session.spec.ts
  proto/omega_edit.proto
  server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
Labels: enhancement, grpc, client, server, scala, javascript

#614 Add wait for pidfile to exist
  packages/client/src/server.ts
Labels: client, javascript

#615 check to see if the given server port is available
  packages/client/src/server.ts
Labels: enhancement, client

#616 use FetchContent instead of conan for getting Catch2
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/ts-format.yml
  build.sh
  core/CMakeLists.txt
  core/cmake/conan.cmake
  core/src/tests/omega_test.cpp
  docker/Dockerfile.centos8-cpp-env
  docker/Dockerfile.ubuntu20-cpp-env
Labels: build

#617 fix Makefile to build correct library type for Windows
  Makefile
Labels: bug, cross-platform, build

#619 Update release CI to install lib files
  .github/workflows/release.yml
  .github/workflows/tests.yml
  server/scala/project/BuildSupport.scala
Labels: bug, CI, cross-platform

#620 Update release workflow to fix missing libs
  .github/workflows/release.yml
Labels: bug, CI

#622 ignore server PID check when running on Windows
  packages/client/src/server.ts
Labels: bug, cross-platform, client, server

#623 lock down dependencies to exact versions
  packages/client/package.json
Labels: client, javascript, dependencies

#624 guess the session file content-type using tika
  packages/client/src/session.ts
  packages/client/tests/specs/common.ts
  packages/client/tests/specs/server.spec.ts
  packages/client/tests/specs/session.spec.ts
  packages/client/tests/specs/undoRedo.spec.ts
  proto/omega_edit.proto
  server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  server/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  server/scala/api/src/main/scala/com/ctc/omega_edit/api/OmegaEdit.scala
  server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  server/scala/api/src/main/scala/com/ctc/omega_edit/api/SessionCallback.scala
  server/scala/api/src/main/scala/com/ctc/omega_edit/api/ViewportCallback.scala
  server/scala/api/src/test/scala/com/ctc/omega_edit/ChangeImplSpec.scala
  server/scala/api/src/test/scala/com/ctc/omega_edit/OmegaEditEntrypointSpec.scala
  server/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
  server/scala/build.sbt
  server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
  server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
  yarn.lock
Labels: enhancement, server, scala

#638 do not fail fast on CI matrix jobs
  .github/workflows/tests.yml
Labels: CI, build
