Repository ctc-oss/omega-edit, pull requests merged in 2023-02, with the labels that each got.

#497 fix server script so it finds the omega-edit-grpc server archive
  src/rpc/client/ts/src/server.ts
Labels: bug, server, javascript

#498 package updates
  CMakeLists.txt
  src/rpc/client/ts/package-lock.json
Labels: dependencies

#503 Linux aarch64 support
  .github/release.sbt
  .github/workflows/release.yml
  .gitignore
  docker/Dockerfile.centos8-cpp-env
  docker/Dockerfile.ubuntu20-cpp-env
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/project/BuildSupport.scala
Labels: CI, cross-platform, build

#499 additional replace optimizations and prettier updates
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/settings.ts
  src/rpc/client/ts/tests/specs/version.spec.ts
Labels: code quality, client, javascript

#504 dependency updates
  CMakeLists.txt
  src/rpc/server/scala/.scalafmt.conf
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/project/plugins.sbt
Labels: dependencies

#506 Fix sed command in sbt files that used wrong variable name
  .github/release.sbt
  src/rpc/server/scala/build.sbt
Labels: bug, scala

#507 add iterative replace function
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
Labels: enhancement, client, javascript

#505 yarn test will fail if any test does not pass
  .github/workflows/tests.yml
Labels: testing, CI

#508 fix clear
  src/lib/edit.cpp
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/tests/omega_test.cpp
Labels: bug, C

#510 add services for tuning viewport performance
  src/include/omega_edit/fwd_defs.h
  src/include/omega_edit/session.h
  src/lib/session.cpp
  src/lib/viewport.cpp
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Viewport.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
  src/tests/omega_test.cpp
Labels: enhancement, testing, grpc, client, server, scala, javascript

#511 new optimized editOperations function for the RPC client
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
Labels: enhancement, client, javascript

#514 transactions
  src/include/omega_edit/change.h
  src/include/omega_edit/session.h
  src/lib/change.cpp
  src/lib/check.cpp
  src/lib/edit.cpp
  src/lib/impl_/change_def.hpp
  src/lib/impl_/session_def.hpp
  src/lib/session.cpp
  src/lib/utility.c
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
  src/tests/omega_test.cpp
Labels: enhancement

#516 optimized edit function and tests
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
Labels: enhancement

#518 Scala code format check workflow
  .github/workflows/scala-format.yml
  .scalafmt.conf
Labels: CI, code quality, scala

#517 move requiring wait_port into the one function where it is used
  src/rpc/client/ts/src/server.ts
Labels: code quality, client, javascript

#519 simplify client API with default parameters
  src/include/omega_edit/search.h
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/package.json
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
Labels: code quality, client, javascript

#524 replace npm with yarn
  .github/workflows/codeql-analysis.yml
  .gitignore
  build.sh
  src/rpc/client/ts/README.md
  src/rpc/client/ts/package-lock.json
  src/rpc/client/ts/yarn.lock
Labels: build

#525 fix version to work for installed package
  src/rpc/client/ts/src/version.ts
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/client/ts/tests/specs/common.ts
  src/rpc/client/ts/tests/specs/version.spec.ts
Labels: bug, client, javascript

#526 upgrade sbt from 1.7.1 to 1.8.2
  .run/omega_edit.run.xml
Labels: scala, build, dependencies

#528 publish the server unzipped
  src/rpc/client/ts/.npmignore
  src/rpc/client/ts/.prettierignore
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/src/server.ts
Labels: client, javascript, packaging

#529 Publish unzipped server
  .github/workflows/release.yml
  .github/workflows/tests.yml
  build.sh
  src/rpc/client/ts/package.json
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/yarn.lock
  src/rpc/server/scala/project/build.properties
Labels: release, client, javascript, packaging

#530 remove unrequired function argument in startServer
  src/rpc/client/ts/src/client.ts
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/client/ts/tests/specs/common.ts
Labels: code quality, client, javascript

#531 generate client_version.ts
  src/rpc/client/ts/.gitignore
  src/rpc/client/ts/.prettierignore
  src/rpc/client/ts/package.json
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/version.ts
  src/rpc/server/scala/project/Rat.scala
Labels: code quality, client, javascript

#533 move logger
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/client.ts
  src/rpc/client/ts/src/logger.ts
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/version.ts
  src/rpc/client/ts/src/viewport.ts
Labels: client, javascript

#534 remove lgtm badges and added outdated dep badge
  src/rpc/client/ts/README.md
Labels: documentation, dependencies

#536 add new session test
  src/rpc/client/ts/.prettierignore
  src/rpc/client/ts/package.json
  src/rpc/client/ts/tests/specs/data/csstest.html
  src/rpc/client/ts/tests/specs/session.spec.ts
  src/rpc/server/scala/project/Rat.scala
Labels: testing, client, javascript

#538 logger improvements
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/client.ts
  src/rpc/client/ts/src/logger.ts
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/version.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/fixtures.ts
Labels: enhancement, code quality, client, javascript

#539 upgrade node packages
  src/rpc/client/ts/yarn.lock
Labels: javascript, dependencies

#541 Fix issue with native/publishM2 throwing error about overwrite
  .github/release.sbt
  src/rpc/server/scala/.scalafmt.conf
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/support/SessionSupport.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/support/ViewportSupport.scala
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/project/BuildSupport.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: bug, scala

#542 add server heartbeat function to the client
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/profiler.spec.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/client/ts/tests/specs/session.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
Labels: enhancement, client, javascript

#543 add code to autofix unexpected data lengths from the server
  src/rpc/client/ts/src/client.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: bug, grpc, scala, javascript

#547 enhanced support for viewport scrolling
  .run/omega_edit.run.xml
  src/include/omega_edit/viewport.h
  src/lib/edit.cpp
  src/lib/viewport.cpp
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/session.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/ViewportImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Viewport.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
  src/tests/omega_test.cpp
Labels: enhancement, testing, grpc, client, server, scala, javascript, C

#551 remove all traces of string edits from the RPC
  src/rpc/client/ts/package.json
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/encodeDecode.spec.ts
  src/rpc/client/ts/tests/specs/profiler.spec.ts
  src/rpc/client/ts/tests/specs/search.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/client/ts/yarn.lock
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/Session.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/ChangeImplSpec.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/SessionImplSpec.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
Labels: code quality
