Repository ctc-oss/omega-edit, pull requests merged in 2023-01, with the labels that each got.

#491 rename omega-edit-scala-server to omega-edit-server (#477)
  .github/workflows/release.yml
  src/rpc/client/ts/.gitignore
  src/rpc/client/ts/.npmignore
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/src/server.ts
Labels: code quality

#492 include a section on release binaries (#475)
  README.md
Labels: documentation

#493 efficiency tweak of the replace function in the TS client
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/server.ts
Labels: client, javascript

#496 Make the omega-edit client port configurable
  .github/workflows/release.yml
  src/rpc/client/ts/.gitignore
  src/rpc/client/ts/.npmignore
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/src/settings.d.ts
  src/rpc/client/ts/src/settings.ts
Labels: server, javascript
