Repository ctc-oss/omega-edit, pull requests merged in 2023-03, with the labels that each got.

#555 counts can now be done concurrently in RPC
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/specs/editing.spec.ts
  src/rpc/client/ts/tests/specs/events.spec.ts
  src/rpc/client/ts/tests/specs/stressTest.spec.ts
  src/rpc/client/ts/tests/specs/undoRedo.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: enhancement, grpc, client, server, scala, javascript

#556 add additional callback queue capacity
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
Labels: grpc, server, scala

#557 shorten omega_session_notify_changed_viewports and add more tests
  src/include/omega_edit/session.h
  src/lib/session.cpp
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/FFI.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/SessionImpl.scala
  src/tests/omega_test.cpp
Labels: testing, code quality

#561 edit operations shortcuts for empty segments
  src/rpc/client/ts/src/change.ts
Labels: enhancement, client, javascript

#566 prettier fix
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/client/ts/yarn.lock
Labels: code quality, javascript

#568 Fix yarn test
  .github/workflows/ts-format.yml
  src/rpc/client/ts/src/change.ts
  src/rpc/client/ts/src/client.ts
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/src/version.ts
  src/rpc/client/ts/src/viewport.ts
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
Labels: client, server, scala, javascript

#573 fixup server control logging
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/tests/fixtures.ts
Labels: bug, client

#572 add server control tests
  src/rpc/client/ts/package.json
  src/rpc/client/ts/src/server.ts
  src/rpc/client/ts/src/session.ts
  src/rpc/client/ts/tests/specs/server.spec.ts
  src/rpc/client/ts/tests/specs/version.spec.ts
Labels: testing, client, server, javascript

#574 Fix yarn package. Remov glob package as it caused issues.
  src/rpc/client/ts/package.json
  src/rpc/client/ts/scripts/package.ts
  src/rpc/client/ts/yarn.lock
Labels: bug, client, build

#577 handle empty search pattern in TS client
  src/rpc/client/ts/src/session.ts
Labels: code quality, client, javascript

#579 upgrade catch2
  CMakeLists.txt
Labels: dependencies

#582 Update scripts to add native jar before classpath jar.
  .github/release.sbt
  src/rpc/server/scala/build.sbt
Labels: cross-platform, scala, build, packaging

#583 Add library directory before jar file
  .github/release.sbt
  src/rpc/server/scala/build.sbt
Labels: release, cross-platform

#585 Fix notify changed viewports
  src/include/omega_edit/viewport.h
  src/lib/session.cpp
  src/lib/viewport.cpp
  src/rpc/client/ts/src/logger.ts
  src/rpc/client/ts/tests/fixtures.ts
  src/rpc/client/ts/tests/specs/session.spec.ts
  src/rpc/client/ts/tests/specs/viewport.spec.ts
  src/rpc/protos/omega_edit.proto
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/SessionEvent.scala
  src/rpc/server/scala/api/src/main/scala/com/ctc/omega_edit/api/ViewportEvent.scala
  src/rpc/server/scala/api/src/test/scala/com/ctc/omega_edit/ViewportImplSpec.scala
  src/tests/omega_test.cpp
Labels: bug, grpc, server, scala

#580 Merge sbt files. Use ClasspathJarPlugin for packaging.
  .github/release.sbt
  .github/workflows/release.yml
  src/rpc/server/scala/build.sbt
Labels: CI, release, scala

#597 Replace akka with Apache Pekko
  src/rpc/server/scala/README.md
  src/rpc/server/scala/build.sbt
  src/rpc/server/scala/project/plugins.sbt
  src/rpc/server/scala/serv/src/main/resources/application.conf
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/EditorService.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Editors.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Session.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/Viewport.scala
  src/rpc/server/scala/serv/src/main/scala/com/ctc/omega_edit/grpc/boot.scala
  src/rpc/server/scala/serv/src/test/scala/com/ctc/omega_edit/grpc/ExampleSpec.scala
Labels: server, scala

#602 add eslint
  .editorconfig
  client/ts/.eslintrc
  client/ts/.prettierrc
  client/ts/package.json
  client/ts/src/index.ts
  client/ts/src/viewport.ts
  client/ts/yarn.lock
Labels: code quality, javascript
